In [1]:
import pandas as pd
import numpy as np

# Pandas란?

- pandas는 <b>"pythin data analysis"</b>의 약자이다.
- pandas 역시 다양한 머신러닝 라이브러리들에 의존성을 가지고 있다.
- 간단하게 생각하자면 python에서 excel의 기능을 사용할 수 있게되는 것이다.
- 하지만 pandas는 numpy array를 베이스로 지원하며 파이썬과 함께 강력한 시너지를 내기 때문에 엑셀 그 이상의 퍼포먼스를 낼 수 있다!!!

### pandas의 단위는 DataFrame을 사용한다.
- 우리가 흔히 알고있는 spreadsheet와 같은 개념이다.

In [2]:
# pandas 버전 확인
print(pd.__version__)

1.2.3

- DataFrame은 2차원 테이블이고, 테이블의 한 줄을 Series라고 한다.
- Series들이 모여서 DataFrame이 된다.

In [3]:
s = pd.Series([1,3,5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
# pandas는 date_range라는 함수를 통해, 날짜 정보를 쉽게 생성해주는 객체도 제공한다.

dates = pd.date_range('20210101', periods=6)

In [7]:
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# 6 * 4 행렬에 -1에서 1사이의 랜덤한 숫자를 가지는 원소를 가지고, index열은 dates, 나머지 columns은 순서대로
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a','b','c','d'])

In [9]:
df

                   a         b         c         d
2021-01-01 -0.198899 -1.003599  1.204560  0.463144
2021-01-02 -0.189458  0.867415  0.101896  0.351988
2021-01-03  1.294024  0.681468  1.506978 -0.303144
2021-01-04  0.052472  0.689737 -0.419073 -1.299466
2021-01-05  0.680313 -0.746999 -0.547355  1.857555
2021-01-06 -1.365755  1.192140 -0.269917 -0.645181