In [9]:
A = [[1,1,1,1,2,2,2,3,3],[4,4,4,4,5,5,5,6,6]]

In [3]:
import pandas as pd

In [10]:
a = pd.DataFrame(A)

In [11]:
a

   0  1  2  3  4  5  6  7  8
0  1  1  1  1  2  2  2  3  3
1  4  4  4  4  5  5  5  6  6

In [16]:
b = a.mode()[0]

In [17]:
b

0    1
1    4
Name: 0, dtype: int64

In [18]:
a = list(1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [19]:
a = {}

In [22]:
a['A+']=3

In [23]:
a

{0: (1, 2), 'A+': 3}

TypeError: fromkeys expected at least 1 argument, got 0

In [27]:
b