# 공공데이터를 이용한 카페 상권분석(2020)

- 공공데이터포털(data.go.kr)에 다양한 데이터가 공개되어있다.

### 명세사항
- 1. 전국 카페 데이터를 모두 수집해야한다.
- 2. 지역별 or 브랜드별 점포현황을 확인한다.
- 3. 분석결과를 시각화한다.

[데이터](https://www.data.go.kr/data/15083033/fileData.do)

In [1]:
import pandas as pd

## 1. 데이터 불러오기

In [3]:
temp = pd.read_csv("data", sep="|", encoding='utf=8')
temp

      상가업소번호,"상호명","지점명","상권업종대분류코드","상권업종대분류명","상권업종중분류코드","상권업종중분류명","상권업종소분류코드","상권업종소분류명","표준산업분류코드","표준산업분류명","시도코드","시도명","시군구코드","시군구명","행정동코드","행정동명","법정동코드","법정동명","지번코드","대지구분코드","대지구분명","지번본번지","지번부번지","지번주소","도로명코드","도로명","건물본번지","건물부번지","건물관리번호","건물명","도로명주소","구우편번호","신우편번호","동정보","층정보","호정보","경도","위도"
0      23422020,"달빙고","선운점","Q","음식","Q04","분식","Q04A...
1      25195570,"그남자의지름신","","D","소매","D05","의복의류","D...
2      23249359,"휴먼세탁소","","F","생활서비스","F02","세탁/가사서비...
3      25217643,"에이치에스이허석영어","","R","학문/교육","R04","학원...
4      20739262,"오프라인컴퓨터","","F","생활서비스","F03","개인/가정...
...                                                  ...
68991  17456374,"벨루가","","Q","음식","Q09","유흥주점","Q09A0...
68992  17456214,"피커피","","Q","음식","Q01","한식","Q01A01"...
68993  17433009,"평동한식당","","Q","음식","Q01","한식","Q01A0...
68994  17451393,"썬","","F","생활서비스","F02","세탁/가사서비스","...
68995  17433218,"페르메","","Q","음식","Q01","한식","Q01A01"...

[68996 rows x 1 columns]

In [32]:
data = temp[['상호명', '지점명', '상권업종대분류명','상권업종중분류명','시도명','시군구명','행정동명']]
data

           상호명   지점명 상권업종대분류명    상권업종중분류명   시도명     시군구명       행정동명
0        청담어학원   NaN    학문/교육       학원-어학  충청북도  청주시 서원구  성화.개신.죽림동
1         신도다실   NaN       음식      커피점/카페  충청북도  청주시 상당구        성안동
2         제진공업   NaN    생활서비스     자동차/이륜차  충청북도      제천시        영서동
3         원주양행   NaN       소매  가방/신발/액세서리  충청북도      충주시        봉방동
4        유기농팔도   NaN       소매     음/식료품소매  충청북도      영동군        매곡면
...        ...   ...      ...         ...   ...      ...        ...
85660     더:예쁨   NaN    생활서비스     이/미용/건강  충청북도      충주시        연수동
85661    우리집밥상   NaN       음식          한식  충청북도      음성군        음성읍
85662      빅스타  서충주점       음식          한식  충청북도      충주시       대소원면
85663     무한닭발   NaN       음식      닭/오리요리  충청북도  청주시 흥덕구    봉명2.송정동
85664  모아모아플레이   NaN       음식          한식  충청북도  청주시 상당구        성안동

[85665 rows x 7 columns]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85665 entries, 0 to 85664
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상호명       85665 non-null  object
 1   지점명       11458 non-null  object
 2   상권업종대분류명  85665 non-null  object
 3   상권업종중분류명  85665 non-null  object
 4   시도명       85665 non-null  object
 5   시군구명      85665 non-null  object
 6   행정동명      85665 non-null  object
dtypes: object(7)
memory usage: 4.6+ MB

In [34]:
del temp

In [35]:
temp.head() # 삭제함

NameError: name 'temp' is not defined